*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    margin:0%;
    padding:0%;
    background: #008549;
    width: 100%;
}

h1{
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#008549;
    background:#cfe8cf;
    margin-top: 0%;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 10px;
    top: 0%;
    max-width: 100%;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #008549;
    overflow-wrap:anywhere;
    font-size: 30px;
    text-align: center;
    margin-top: 130px;
}

p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #008549;
    overflow-wrap:anywhere;
    font-size: 55px;
}


.navi ul{
    list-style: none;
    background-color:#cfe8cf;
    overflow: hidden;
    text-align:center;
    top: 55px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0%;
}

.navi a{
   color: #008549;
   text-decoration: none;
   padding: 15px;
   display: block;
   text-align: center;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navi a:hover{
    color: white;
}

.navi li{
    display: inline-block;
}

.container{
    max-width: 90%;
    margin: 0 auto;
    background-color: #ecefec;
    padding: 10px;
    border-left: 5px solid #ecefec;
    border-right: 5px solid #ecefec;
}
